<!doctype html>
<html lang="en">
    <head>
        <!-- Title and Icon -->
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

        <title id="landingTitle">Flash Neo</title>
        <link id="shortcutIcon" rel="shortcut icon" href="../images/favicon.ico" />
        <link id="appleTouchIcon" rel="apple-touch-icon" href="../images/favicon.png" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="Revolutionize Your Learning Experience with Seamless Video Conferencing"
        />
        <meta
            name="keywords"
            content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="Flash Neo" />
        <meta property="og:title" content="Click the link to join this call." />
        <meta property="og:description" content="Free WebRTC browser-based video call." />
        <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/client.css" />
        <link rel="stylesheet" href="../css/videoGrid.css" />
        <link rel="stylesheet" href="../css/whiteboard.css" />

        <!-- https://cdnjs.com/libraries/font-awesome -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

        <!-- https://animate.style 4 using for swal fadeIn-Out -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

        <!-- flatpickr  https://flatpickr.js.org/themes/ -->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
        <link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css" />

        <!--  pickr  https://github.com/simonwep/pickr -->

        <!-- 'classic' theme -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
        <!-- 'monolith' theme -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css" />
        <!-- 'nano' theme -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css" />

        <!-- JavaScripts -->

        <script async src="../js/umami.js"></script>
    </head>

    <body>
        <header class="site-header reveal-from-top">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand">
                        <div class="m-0">
                            <a href="https://imago.us" target="_new">
                                <img class="flashlogo" src="../images/logo.svg" alt="Flash Neo" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <noscript>You need to enable JavaScript to run this app.</noscript>

        <!-- just 4SEO Optimization -->

        <div id="webRTCSeo">
            <h1>WebRTC</h1>
        </div>

        <!-- show this before to join -->

        <div id="loadingDiv" class="center">
            <img class="loading-img" src="../images/loading.gif" /><br/>
            <img class="loading-font" src="../images/loading-font.gif"/>
        </div>


        <button id="initScreenShareBtn" class="fas fa-desktop" style="visibility: hidden; width:0%;"></button>
        <button id="initVideoMirrorBtn" class="fas fa-arrow-right-arrow-left" style="visibility: hidden; width:0%;"></button>
        <!-- init user devices -->

        <div id="initUser" class="init-user hidden">
            <!-- <p>Please allow the camera & microphone access to use this app.</p> -->
            <div id="initVideoContainer" class="init-video-container">
                <video
                    id="initVideo"
                    playsinline="true"
                    autoplay=""
                    class="mirror"
                    poster="../images/loader.gif"
                ></video>
            </div>
            <div class="initComands" style="overflow: hidden;">
                <button id="initVideoBtn" class="icon-button"><img src="../images/camOn.svg" alt="Video On"></button>
                <button id="initAudioBtn" class="icon-button"><img src="../images/micOn.svg" alt="Audio On"></button>
                <button id="settingsBtn" class="icon-button"><img src="../images/settings.svg" alt="Audio On"></button>
            </div>
            
            <!-- Modal or Dropdown for Settings -->
            <div id="settingsModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Settings</h2>
                    <label for="initVideoSelect">Video:</label>
                    <select id="initVideoSelect" class="form-select text-light bg-dark"></select><br/>
            
                    <label for="initMicrophoneSelect">Microphone:</label>
                    <select id="initMicrophoneSelect" class="form-select text-light bg-dark"></select><br/>
            
                    <label for="initSpeakerSelect">Speaker:</label>
                    <select id="initSpeakerSelect" class="form-select text-light bg-dark"></select><br/>
                </div>
            </div>
        </div>

        <button id="shareRoomBtn" class="fas fa-share-alt" style="visibility: hidden; width:0%;"></button>
            <button id="aboutBtn" class="fas fa-question" style="visibility: hidden; width:0%;"></button>
            <button id="whiteboardBtn" class="fas fa-chalkboard-teacher" style="visibility: hidden; width:0%;"></button>
            <button id="recordStreamBtn" class="fas fa-record-vinyl" style="visibility: hidden; width:0%;"></button>
            <button id="captionBtn" class="fas fa-closed-captioning"style="visibility: hidden; width:0%;"></button>
            <button id="captionBtn" class="fas fa-closed-captioning" style="visibility: hidden; width:0%;"></button>
            <button id="fullScreenBtn" style="visibility: hidden; width:0%;"></button>
            <button id="tabRecordingBtn" class="tablinks" style="visibility: hidden; width:0%;">
                <i class="fas fa-record-vinyl"></i>
            </button>
            <button id="tabVideoShareBtn" class="tablinks" style="visibility: hidden; width:0%;">
                <i class="fab fa-youtube"></i>
            </button>
            <button id="tabNetworkBtn" class="tablinks"style="visibility: hidden; width:0%;">
                <i class="fa-solid fa-network-wired"></i>
            </button>
            <button id="tabLanguagesBtn" class="tablinks" style="visibility: hidden; width:0%;">
                <i class="fas fa-globe"></i>
            </button>
            <button id="tabParticipantsBtn" class="tablinks" style="visibility: hidden; width:0%;">
                <i class="fa-solid fa-users"></i>
            </button>
        

        <!-- Start buttons bar https://fontawesome.com/icons?d=gallery -->

        <div id="buttonsBar" class="fadein" style="justify-content: center; align-items: center; gap: 20px; flex-wrap: wrap;">
            <button id="audioBtn"><img src="../images/micOn.svg" style="margin-bottom: 5%;" /></button>
            <button id="videoBtn"><img src="../images/camOn.svg" style="margin-bottom: -10%;" /></button>
            <button id="screenShareBtn"><img src="../images/screenShare.svg" /></button>
            <div style="position: relative; display: inline-block;">
                <button id="chatRoomBtn"><img src="../images/chat.svg" style="margin-bottom: -5%;" /></button>
                <button id="roomEmojiPickerBtn" style="position: absolute; top: -25px; right: -9px; background: none; border: none; cursor: pointer; padding: 0;">
                    <img src="../images/arrowUp.svg" style="width: 12px;" />
                </button>
            </div>
            <button id="swapCameraBtn"><img src="../images/cameraRotate.svg" /></button>
            <button id="myHandBtn"><img src="../images/hand.svg" /></button>
            <button id="documentPiPBtn"><img src="../images/pip.svg" style="margin-bottom: 5%;" /></button>
            <button id="fileShareBtn"><img src="../images/fileShare.svg" /></button>
            <button id="participantsBtn"><img src="../images/participants.svg" /></button>
            <button id="mySettingsBtn"><img src="../images/settings.svg" /></button>
            <button id="leaveRoomBtn"><img src="../images/endcall.svg" /></button>
        </div>
        
        
        <!-- End left buttons -->

        <!-- Participants Window -->
        <div id="tabParticipants" class="tabcontent">
            <div class="title">
                <p>Participants<br/></p>
                <button id="closeParticipantsBtn" class="close-btn" style="border: none;">
                    <i class="fas fa-times"></i>
                </button>
            </div><br/>
            <div id="participantsList"></div>
            <div id="tabRoomParticipants"><br/>
                <button id="muteEveryoneBtn">Mute All</button>
                <button id="ejectEveryoneBtn">Eject All</button>
            </div>
        </div>
        
        <!-- Start room emoji picker -->

        <div id="emojiPickerContainer" class="roomEmoji fadein">
            <div id="emojiPickerHeader" class="emojiPickerHeader">
                <button id="closeEmojiPickerContainer" class="fas fa-times"></button>
            </div>
        </div>
        <div id="userEmoji" class="userEmoji"></div>

        <!-- End room emoji picker -->

        <!-- Start chat room 
        https://codepen.io/sajadhsm/pen/odaBdd
        https://getemoji.com
        -->

        <section id="msgerDraggable" class="msger-draggable fadein">
            <section id="msger" class="msger">
                <header id="msgerHeader" class="msger-header">
                    <div class="msger-header-title">
                        <p style="color: white; margin-top: -5px;">Chat</p>
                        <button id="msgerClose" class="fas fa-times close-btn"></button>
                    </div>
                </header>

                <main id="msgerChat" class="msger-chat"></main>

                <!-- Start emoji picker -->

                <section id="msgerEmojiPicker" class="hidden fadein chatEmojiPicker"></section>

                <!-- End emoji picker -->

                <div class="msger-inputarea">
                    <textarea
                        rows="1"
                        cols="1"
                        id="msgerInput"
                        class="msger-input"
                        placeholder="Type message here..."
                    ></textarea>
                </div>
            </section>

            <!-- Start private msg -->

            <section id="msgerCP" class="center fadein">
                <section id="msgerCPSec" class="msger">
                    <header id="msgerCPHeader" class="msger-private-header">
                        <div class="msger-header-title"><i class="fas fa-comment-alt"></i> Send Private messages</div>
                        <div class="msger-header-options">
                            <button id="msgerCPCloseBtn" class="fas fa-times"></button>
                        </div>
                    </header>
                    <main id="msgerCPChat" class="msger-chat">
                        <div class="search-container">
                            <input
                                id="searchPeerBarName"
                                type="text"
                                placeholder=" 🔍 Search peer by name..."
                                maxlength="32"
                                name="search"
                            />
                        </div>
                        <br />
                        <div id="msgerCPList"></div>
                    </main>
                </section>
            </section>

            <!-- End private msg -->
        </section>

        <!-- End chat room -->

        <!-- Start of caption section -->

        <section id="captionDraggable" class="caption-draggable fadein">
            <section id="caption" class="caption">
                <header id="captionHeader" class="caption-header">
                    <div class="caption-header-title">
                        <button id="captionClose" class="fas fa-times"></button>
                        <button id="captionMaxBtn" class="fas fa-expand"></button>
                        <button id="captionMinBtn" class="fas fa-compress"></button>
                        <button id="speechRecognitionIcon" class="fas fa-microphone-alt"></button>
                    </div>
                    <div class="caption-header-options">
                        <button id="captionTheme" class="fas fa-ghost"></button>
                        <button id="captionSaveBtn" class="fas fa-save"></button>
                        <button id="captionClean" class="fas fa-trash"></button>
                    </div>
                </header>

                <main id="captionChat" class="caption-chat"></main>
                <div class="caption-inputarea">
                    <select id="recognitionLanguage"></select>
                    <select id="recognitionDialect"></select>
                    <button id="speechRecognitionStart" class="fas fa-play">&nbsp;Start</button>
                    <button id="speechRecognitionStop" class="fas fa-stop">&nbsp;Stop</button>
                </div>
            </section>
        </section>

        <!-- End of caption section -->

        <!--Hidden-->
        <button id="hideEveryoneBtn" style="visibility: hidden;"><i class="fas fa-video"></i>&nbsp;Hide everyone</button>
        <div id="videoFpsDiv"  style="visibility: hidden; width:0%;">
            <br />
            <div class="title" style="visibility: hidden; width:0%;">
                <i class="fa-solid fa-camera"></i>
                <p>Camera FPS</p>
            </div>
            <br />
            <select id="videoFps" style="visibility: hidden; width:0%;">
                <option value="60">60 - frame-per-second</option>
                <option value="30">30 - frame-per-second</option>
                <option value="15">15 - frame-per-second</option>
                <option value="5">5 - frame-per-second</option>
            </select>
        </div>
        <div id="screenFpsDiv"  style="visibility: hidden; width:0%;">
            <br />
            <div class="title" style="visibility: hidden; width:0%;">
                <i class="fa-solid fa-desktop"></i>
                <p>Screen FPS</p>
            </div>
            <br />
            <select id="screenFps" style="visibility: hidden; width:0%;">
                <option value="60">60 - frame-per-second</option>
                <option value="30">30 - frame-per-second</option>
                <option value="15">15 - frame-per-second</option>
                <option value="5">5 - frame-per-second</option>
            </select>
        </div>
        <div>
            <img id="myProfileAvatar" style="visibility: hidden; width: 0%;"/>
        </div>
        <div class="title" style="visibility: hidden; width: 0%;">
            <p>Presenter:</p>
            <p id="isPeerPresenter" style="visibility: hidden; width: 0%;">true</p>
        </div>
        <br /><br />
        <div class="title" style="visibility: hidden; width: 0%;">
            <p>Extra info:</p>
        </div>
        <pre id="extraInfo" style="visibility: hidden; width: 0%;"></pre>
        <div class="title" style="visibility: hidden; width: 0%;">
            <p>Custom theme</p>
        </div>
        <input id="themeColorPicker" class="theme-color-picker" type="text" style="visibility: hidden; width: 0%;" />
        <div class="inline-check-box" style="visibility: hidden; width: 0%;">
                <div class="title" style="visibility: hidden; width: 0%;">
                    <p>Keep custom</p>
                </div>
            <input id="keepCustomTheme" class="toggle" type="checkbox" style="visibility: hidden; width: 0%;"/>
        </div>
        <div id="pinUnpinGridDiv" style="visibility: hidden; width: 0%;">
            <div class="title">
                <p>Pin video position</p>
            </div>
            <select id="pinVideoPositionSelect"  style="visibility: hidden; width: 0%;" >
                <option value="vertical">Vertical</option>
                <option value="horizontal">Horizontal</option>
                <option value="top">Top</option>
            </select>
        </div>
        <div id="tabEmailInvitation" style="visibility: hidden;">
        </div>
        <div id="msgerShowChatOnMsgDiv" class="title ml-10" style="visibility: hidden;">
            <label class="switch ml-10">
                <input id="msgerShowChatOnMsg" type="checkbox" checked />
                <span class="slider round"></span>
            </label>
        </div>
        <div id="msgerSpeechMsgDiv" class="title" style="visibility: hidden;">
            <label class="switch ml-10">
                <input id="msgerSpeechMsg" type="checkbox" />
                <span class="slider round"></span>
            </label>
        </div>
        <button id="msgerMaxBtn" class="fas fa-expand" style="visibility: hidden;"></button>
                        <button id="msgerMinBtn" class="fas fa-compress" style="visibility: hidden;"></button>
                        <div class="msger-header-options" style="visibility: hidden;">
                            <button id="msgerTheme" class="fas fa-ghost"></button>
                            <button id="msgerSaveBtn" class="fas fa-save"></button>
                            <button id="msgerClean" class="fas fa-trash"></button>
        </div>

        <div class="msger-input-buttons" style="visibility: hidden;">
            <button id="msgerEmojiBtn" class="fas fa-smile"></button>
            <button id="msgerMarkdownBtn" class="fab fa-markdown"></button>
            <button id="msgerGPTBtn" class="fas fa-robot"></button>
            <button id="msgerShareFileBtn" class="fas fa-paperclip"></button>
            <button id="msgerVideoUrlBtn" class="fab fa-youtube"></button>
            <button id="msgerCPBtn" class="fas fa-users"></button>
            <button id="msgerCleanTextBtn" class="fas fa-trash"></button>
            <button id="msgerPasteBtn" class="fas fa-paste"></button>
            <button id="msgerSendBtn" class="fas fa-paper-plane"></button>
        </div>

        <!-- Start my settings -->

        <section id="mySettings" class="center fadein">
            <p class="mtm-10">Settings</p>
            <header id="mySettingsHeader">
                <button id="mySettingsCloseBtn" class="fas fa-times"></button>
            </header>
            <main class="mySettingsMain">
                <div class="tab-container">
                    <div class="tab">
                        <button id="tabRoomBtn" class="tablinks">
                            <p class="tabButtonText">Room</p>
                        </button>
                        <button id="tabVideoBtn" class="tablinks">
                            <p class="tabButtonText">Video</p>
                        </button>
                        <button id="tabAudioBtn" class="tablinks">
                            <p class="tabButtonText">Audio</p>
                        </button>
                        <button id="tabProfileBtn" class="tablinks">
                            <p class="tabButtonText">Profile</p>
                        </button>
                        <button id="tabStylingBtn" class="tablinks">
                            <p class="tabButtonText">Styles</p>
                        </button>
                    </div>
        
                    <div class="tabActions">
                    <div id="tabRoom" class="tabcontent">
                        <table class="settingsTable">
                            <tr>
                                <td>
                                    <div class="title" style="margin-top: -10%;">
                                        <p>Room Name</p><br/>
                                        <p id="myRoomId" class="cp">xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</p>
                                        <button id="roomSendEmailBtn">Share</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <div id="tabRoomSecurity">
                            <button id="lockRoomBtn"><i class="fas fa-lock-open"></i>&nbsp;Lock room</button>
                            <button id="unlockRoomBtn"><i class="fas fa-lock"></i>&nbsp;Unlock room</button>
                            <br />
                        </div>                                               
                        <br />
                        <table id="mySettingsTable">
                            <tr>
                                <td class="width-250">
                                    <div class="title">
                                        <p>Volume bar</p>
                                    </div>
                                </td>
                                <td><input id="switchAudioPitchBar" class="toggle" type="checkbox" checked /></td>
                            </tr>
                            <tr>
                                <td class="width-250">
                                    <div class="title">
                                        <p>Sounds</p>
                                    </div>
                                </td>
                                <td><input id="switchSounds" class="toggle" type="checkbox" checked /></td>
                            </tr>
                            <tr id="shareOnJoinButton">
                                <td class="width-250">
                                    <div class="title">
                                        <p>Share</p>
                                    </div>
                                </td>
                                <td><input id="switchShare" class="toggle" type="checkbox" checked /></td>
                            </tr>
                        </table>
                    </div>

                    <div id="tabVideo" class="tabcontent">
                        <div>
                            <div class="title">
                                <p>Camera</p>
                            </div>
                            <br />
                            <select id="videoSource" class="width-500"></select>
                        </div>
                        <br />
                        <div class="title">
                            <p>Video Quality</p>
                        </div>
                        <br />
                        <select id="videoQuality"  class="width-500">
                            <option value="default">Default</option>
                            <option value="qvgaVideo">QVGA</option>
                            <option value="vgaVideo">VGA</option>
                            <option value="hdVideo">HD</option>
                            <option value="fhdVideo">FULL HD</option>
                            <option value="2kVideo">2k</option>
                            <option value="4kVideo">4K</option>
                        </select>
                        <br />
                        <div class="title">
                            <p>Video Size</p>
                        </div>
                        <br />
                        <select id="videoObjFitSelect"  class="width-500">
                            <option value="fill">Fill</option>
                            <option value="contain">Contain</option>
                            <option value="cover">Cover</option>
                            <option value="scale-down">Scale-down</option>
                            <option value="none">None</option>
                        </select>
                    </div>

                    <div id="tabAudio" class="tabcontent width-500">
                        <div>
                            <div class="title">
                                <p>Microphone</p>
                            </div>
                            <br />
                            <select id="audioSource"></select>
                        </div>
                        <br />
                        <div class="volume-container">
                            <div class="volume-bar"></div>
                            <div class="volume-bar"></div>
                            <div class="volume-bar"></div>
                            <div class="volume-bar"></div>
                            <div class="volume-bar"></div>
                            <div class="volume-bar"></div>
                            <div class="volume-bar"></div>
                            <div class="volume-bar"></div>
                            <div class="volume-bar"></div>
                            <div class="volume-bar"></div>
                        </div>
                        <br />
                        <div class="dropdown" id="dropDownMicOptions">
                            <button class="buttons" id="micOptionsBtn" data-bs-toggle="dropdown" aria-expanded="false"  class="width-500">
                                <i class="fas fa-screwdriver-wrench"></i>
                                <p>Advance options</p>
                                <i class="fas fa-caret-down"></i>
                            </button>
                            <br /><br />
                            <div class="dropdown-menu" aria-labelledby="micOptionsBtn">
                                <table class="mySettingsTable">
                                    <tr id="autoGainControlButton">
                                        <td class="microphone-table-width">
                                            <div class="title">
                                                <!-- <i class="fas fa-ear-listen"></i> -->
                                                <p>Auto gain control</p>
                                            </div>
                                        </td>
                                        <td><input class="toggle" id="switchAutoGainControl" type="checkbox" /></td>
                                    </tr>
                                    <tr id="echoCancellationButton">
                                        <td class="microphone-table-width">
                                            <div class="title">
                                                <!-- <i class="fas fa-ear-listen"></i> -->
                                                <p>Echo cancellation</p>
                                            </div>
                                        </td>
                                        <td>
                                            <input class="toggle" id="switchEchoCancellation" type="checkbox" checked />
                                        </td>
                                    </tr>
                                    <tr id="noiseSuppressionButton">
                                        <td class="microphone-table-width">
                                            <div class="title">
                                                <!-- <i class="fas fa-ear-listen"></i> -->
                                                <p>Noise suppression</p>
                                            </div>
                                        </td>
                                        <td>
                                            <input class="toggle" id="switchNoiseSuppression" type="checkbox" checked />
                                        </td>
                                    </tr>
                                    <tr id="micLatencyButton">
                                        <td class="microphone-table-width">
                                            <div class="title">
                                                <!-- <i class="fab fa-audible"></i> -->
                                                <p>Latency</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="title">
                                                <input
                                                    type="range"
                                                    class="mic-input-range"
                                                    id="micLatencyRange"
                                                    name="latency"
                                                    min="10"
                                                    max="1000"
                                                    value="50"
                                                    step="10"
                                                />
                                                <p><span id="micLatencyValue">50</span>&nbsp;ms</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="micVolumeButton">
                                        <td class="microphone-table-width">
                                            <div class="title">
                                                <!-- <i class="fas fa-volume-high"></i> -->
                                                <p>Volume</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input
                                                    type="range"
                                                    class="mic-input-range"
                                                    id="micVolumeRange"
                                                    name="volume"
                                                    min="0"
                                                    max="100"
                                                    value="100"
                                                    step="10"
                                                />
                                                <p><span id="micVolumeValue">100</span>&nbsp;%</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="sampleRateButton">
                                        <td class="microphone-table-width">
                                            <div class="title">
                                                <!-- <i class="fas fa-microphone-lines"></i> -->
                                                <p>Sample rate</p>
                                            </div>
                                        </td>
                                        <td>
                                            <select id="sampleRateSelect">
                                                <option value="48000">48000 Hz</option>
                                                <option value="44100">44100 Hz</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr id="sampleSizeButton">
                                        <td class="microphone-table-width">
                                            <div class="title">
                                                <!-- <i class="fas fa-microphone-lines"></i> -->
                                                <p>Sample size</p>
                                            </div>
                                        </td>
                                        <td>
                                            <select id="sampleSizeSelect">
                                                <option value="16">16 bits</option>
                                                <option value="32">32 bits</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr id="channelCountButton">
                                        <td class="microphone-table-width">
                                            <div class="title">
                                                <!-- <i class="fas fa-microphone-lines"></i> -->
                                                <p>Channel count</p>
                                            </div>
                                        </td>
                                        <td>
                                            <select id="channelCountSelect">
                                                <option value="1">1 (mono)</option>
                                                <option value="2">2 (stereo)</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="buttons" id="applyAudioOptionsBtn">Apply options</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <table id="mySettingsTable">
                            <tr id="pushToTalkDiv">
                                <td class="width-250">
                                    <div class="title">
                                        <p>Push to talk</p>
                                    </div>
                                    <p style="font-size: 12px; width: 100%;">Press and hold the space bar to unmute</p>
                                </td>
                                <td><input id="switchPushToTalk" class="toggle" type="checkbox" /></td>
                            </tr>
                        </table>
                        <br />

                        <div id="audioOutputDiv">
                            <div class="title">
                                <p>Speaker</p>
                            </div>
                            <br />
                            <select id="audioOutput"  class="width-500"></select>
                            <br />
                            <div class="title">
                                <p>Test Speaker</p>
                            </div>
                            <br />
                            <button id="speakerTestBtn" class="buttons">
                                <p>Test speaker</p>
                            </button>
                            <br />
                        </div>
                    </div>

                    <div id="tabRecording" class="tabcontent">
                        <img id="recImage" src="../images/recording.png" />
                        <div id="recOptions">
                            <table class="settingsTable">
                                <tr>
                                    <td class="width-160">
                                        <div class="title">
                                            <i class="fa-solid fa-film"></i>
                                            <p>Prioritize H.264</p>
                                        </div>
                                    </td>
                                    <td><input class="toggle" id="switchH264Recording" type="checkbox" /></td>
                                </tr>
                            </table>
                            <hr class="hr" />
                        </div>
                        <div class="trow">
                            <span class="clw notranslate" id="recordingTime"></span>
                            <br />
                            <button id="pauseRecBtn" class="buttons">
                                <i class="far fa-pause-circle"></i>
                                <p>Pause recording</p>
                            </button>
                            <button id="resumeRecBtn" class="buttons">
                                <i class="far fa-play-circle"></i>
                                <p>Resume recording</p>
                            </button>
                        </div>
                        <div class="clw" id="lastRecordingInfo"></div>
                    </div>

                    <div id="tabMedia" class="tabcontent">
                        <br />
                        <button id="shareMediaAudioVideoBtn" class="buttons">
                            <i class="fa-solid fa-circle-play"></i>
                            <p>Share a Video or Audio</p>
                        </button>
                    </div>

                    <div id="tabParticipants" class="tabcontent">
                        <br />
                        <div class="title">
                            <i class="fa-solid fa-users"></i>
                            <p id="peersCount"></p>
                        </div>
                        <br />
                        <div id="tabRoomParticipants">
                            <br />
                            <button id="muteEveryoneBtn"><i class="fas fa-microphone"></i>&nbsp;Mute everyone</button>
                            <button id="hideEveryoneBtn"><i class="fas fa-video"></i>&nbsp;Hide everyone</button>
                            <button id="ejectEveryoneBtn">
                                <i class="fas fa-right-from-bracket"></i>&nbsp;Eject everyone
                            </button>
                        </div>
                    </div>

                    <div id="tabProfile" class="tabcontent">
                        <div id="tabRoomPeerName">
                            <div class="title">
                                <p>Set your display name</p>
                            </div>
                            <div>
                                <input id="myPeerNameSet" type="text" placeholder="Change name..." maxlength="32" />
                                <button id="myPeerNameSetBtn"><i class="fas fa-user-edit"></i></button>
                            </div>
                        </div>
                        <br />
                        <div id="hideMeBtn">
                            <input type="checkbox"/>
                            <p>Hide self from room view</p>
                        </div>
                        <br />
                            <br />
                            <div class="title">
                                <p>Language</p>
                            </div>
                            <br />
                            <div id="google_translate_element" class="width-500"></div>
                            <br />
                    </div>

                    <div id="tabNetwork" class="tabcontent">
                        <br />
                        <table id="mySettingsTable">
                            <tr>
                                <td class="width-130">
                                    <div class="title">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <p>IP</p>
                                    </div>
                                </td>
                                <td><p id="networkIP"></p></td>
                            </tr>
                            <tr>
                                <td class="width-130">
                                    <div class="title">
                                        <i class="fa-solid fa-house-signal"></i>
                                        <p>Host</p>
                                    </div>
                                </td>
                                <td><p id="networkHost">🔴</p></td>
                            </tr>
                            <tr>
                                <td class="width-130">
                                    <div class="title">
                                        <i class="fa-solid fa-globe"></i>
                                        <p>Stun</p>
                                    </div>
                                </td>
                                <td><p id="networkStun">🔴</p></td>
                            </tr>
                            <tr id="shareOnJoinButton">
                                <td class="width-130">
                                    <div class="title">
                                        <i class="fa-solid fa-tower-cell"></i>
                                        <p>Turn</p>
                                    </div>
                                </td>
                                <td><p id="networkTurn">🔴</p></td>
                            </tr>
                        </table>
                        <!-- <hr class="hr" /> -->
                    </div>

                    <div id="tabStyling" class="tabcontent">
                        <div class="title">
                            <p>Theme</p>
                        </div>
                        <br />
                        <select id="mirotalkTheme" class="width-500">
                            <option value="dark">⚫️ Dark</option>
                            <option value="grey">⚪️ Grey</option>
                            <option value="green">🟢 Green</option>
                            <option value="blue">🔵 Blue</option>
                            <option value="red">🔴 Red</option>
                        </select>
                        <br />
                        <div class="title">
                            <p>Buttons bar</p>
                        </div>
                        <br />
                        <select id="mainButtonsBarPosition" class="width-500">
                            <option value="vertical">Vertical</option>
                            <option value="horizontal">Horizontal</option>
                        </select>
                    </div>
                </div>
            </main>
        </section>

        <!-- End my settings -->

        <!-- Start whiteboard -->

        <section id="whiteboard" class="hidden">
            <header id="whiteboardHeader" class="whiteboard-header">
                <div id="whiteboardTitle" class="whiteboard-header-title">
                    <button id="whiteboardCloseBtn" class="fas fa-times"></button>
                    <label id="whiteboardLockBtn" class="switch">
                        <input type="checkbox" />
                        <span class="slider round"></span>
                    </label>
                </div>
                <div id="whiteboardOptions" class="whiteboard-header-options">
                    <button id="whiteboardGhostButton" class="fas fa-circle-half-stroke"></button>
                    <input id="wbBackgroundColorEl" class="whiteboardColorPicker" type="color" value="#000000" />
                    <input id="wbDrawingColorEl" class="whiteboardColorPicker" type="color" value="#FFFFFF" />
                    <button id="whiteboardPencilBtn" class="fas fa-pencil-alt"></button>
                    <button id="whiteboardObjectBtn" class="fas fa-mouse-pointer"></button>
                    <button id="whiteboardUndoBtn" class="fas fa-undo"></button>
                    <button id="whiteboardRedoBtn" class="fas fa-redo"></button>
                    <button id="whiteboardPdfFileBtn" class="far fa-file-pdf"></button>
                    <button id="whiteboardImgFileBtn" class="far fa-image"></button>
                    <button id="whiteboardImgUrlBtn" class="fas fa-link"></button>
                    <button id="whiteboardTextBtn" class="fas fa-spell-check"></button>
                    <button id="whiteboardLineBtn" class="fas fa-slash"></button>
                    <button id="whiteboardRectBtn" class="far fa-square"></button>
                    <button id="whiteboardTriangleBtn" class="fas">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16px"
                            height="16px"
                            viewBox="0 0 24 24"
                            fill="#FFFFFF"
                        >
                            <path d="M12 5.887l8.468 14.113h-16.936l8.468-14.113zm0-3.887l-12 20h24l-12-20z" />
                        </svg>
                    </button>
                    <button id="whiteboardCircleBtn" class="far fa-circle"></button>
                    <button id="whiteboardSaveBtn" class="fas fa-save"></button>
                    <button id="whiteboardEraserBtn" class="fas fa-eraser"></button>
                    <button id="whiteboardCleanBtn" class="fas fa-trash"></button>
                </div>
            </header>
            <main>
                <canvas id="wbCanvas"></canvas>
            </main>
        </section>

        <!-- End whiteboard -->

        <!-- Start File Send -->

        <div id="sendFileDiv" class="center fadein">
            <img id="imgShareSend" src="../images/share.png" alt="mirotalk-share-send" class="center-img" /><br />
            <div id="sendFileInfo"></div>
            <div id="sendFilePercentage"></div>
            <progress id="sendProgress" max="0" value="0"></progress>
            <button id="sendAbortBtn"><i class="fas fa-stop-circle"></i>&nbsp; Abort</button>
        </div>

        <!-- End File Send -->

        <!-- Start File Receive -->

        <div id="receiveFileDiv" class="center fadein">
            <img id="imgShareReceive" src="../images/share.png" alt="mirotalk-share-receive" class="center-img" /><br />
            <div id="receiveFileInfo"></div>
            <div id="receiveFilePercentage"></div>
            <progress id="receiveProgress" max="0" value="0"></progress>
            <button id="receiveAbortBtn"><i class="fas fa-stop-circle"></i>&nbsp; Abort</button>
            <button id="receiveHideBtn"><i class="fas fa-eye-slash"></i>&nbsp; Hide</button>
        </div>

        <!-- Stop File Receive -->

        <!-- Start video URL iframe -->

        <div id="videoUrlCont" class="center fadein">
            <div id="videoUrlHeader">
                <button id="videoUrlCloseBtn" class="fas fa-times"></button>
            </div>
            <br />
            <iframe
                id="videoUrlIframe"
                title="Video Url Player"
                src=""
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>

        <!-- End Youtube Iframe -->

        <!-- Start Video - Audio player -->

        <div id="videoAudioUrlCont" class="center fadein">
            <div id="videoAudioUrlHeader">
                <button id="videoAudioCloseBtn" class="fas fa-times"></button>
            </div>
            <br />
            <video id="videoAudioUrlElement" src="" autoplay controls></video>
        </div>

        <!-- End Video - Audio player -->

        <!-- Start Video container -->

        <div id="videoPinMediaContainer"></div>
        <div id="videoMediaContainer">
            <!-- <div class="Camera">
                <video></video>
            </div> -->
        </div>

        <div id="audioMediaContainer">
            <!-- <div>
                <audio></audio>
            </div>-->
        </div>

        <!-- End Video container -->

        <!--
        - JS scripts https://cdn.jsdelivr.net
        
        - https://webrtc.github.io/adapter/adapter-latest.js                (https://github.com/webrtcHacks/adapter)
        - https://github.com/leizongmin/js-xss                              (https://www.npmjs.com/package/xss)
        - https://www.npmjs.com/package/marked                              (https://github.com/markedjs/marked)
        - https://www.npmjs.com/package/detectrtc                           (https://github.com/muaz-khan/DetectRTC)
        - https://www.npmjs.com/package/sweetalert2                         (https://github.com/sweetalert2/sweetalert2)
        - https://www.npmjs.com/package/fabric                              (https://github.com/fabricjs/fabric.js)
        - https://www.npmjs.com/package/qrious                              (https://github.com/neocotic/qrious)
        - https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js    (https://github.com/missive/emoji-mart)
        - https://mozilla.github.io/pdf.js/                                 (https://github.com/mozilla/pdf.js)
        - https://www.jsdelivr.com/package/npm/crypto-js                    (https://github.com/brix/crypto-js/)
        - https://www.npmjs.com/package/tippy.js                            (https://github.com/atomiks/tippyjs) 
        - https://flatpickr.js.org/                                         (https://github.com/flatpickr/flatpickr)
        - https://simonwep.github.io/pickr/                                 (https://github.com/simonwep/pickr)
        - https://uaparser.dev/                                             (https://github.com/faisalman/ua-parser-js)
        -->
        <script defer src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/xss/dist/xss.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/detectrtc@1.4.1/DetectRTC.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/fabric@5.3.0-browser/dist/fabric.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/qrious@4.0.2/dist/qrious.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.11.174/build/pdf.min.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
        <!-- <script defer src="https://cdn.jsdelivr.net/npm/crypto-js@4.2.0/index.min.js"></script> -->
        <!-- <script defer src="https://unpkg.com/@popperjs/core@2"></script>
        <script defer src="https://unpkg.com/tippy.js@6"></script> -->
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.7/tippy-bundle.umd.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/ua-parser-js@latest/dist/ua-parser.min.js"></script>
        <script defer src="/socket.io/socket.io.js"></script>
        <script defer src="../js/localStorage.js"></script>
        <script defer src="../js/helpers.js"></script>
        <script defer src="../js/client.js"></script>
        <script defer src="../js/detectSpeaking.js"></script>
        <script defer src="../js/speechRecognition.js"></script>
        <script defer src="../js/videoGrid.js"></script>
        <script defer src="../js/brand.js"></script>
        <script defer src="../js/translate.js"></script>

        <!-- end of Js scripts -->

        <!-- 
		the <video> and <audio> tags are all added and removed dynamically
		in 'onAddStream', 'setupLocalMedia', and 'removePeer'/'disconnect'
		-->
    </body>
</html>
