<!doctype html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title id="landingTitle">Flash Neo</title>
        <link id="shortcutIcon" rel="shortcut icon" href="../images/favicon.ico" />
        <link id="appleTouchIcon" rel="apple-touch-icon" href="../images/favicon.png" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="Revolutionize Your Learning Experience with Seamless Video Conferencing"
        />
        <meta
            name="keywords"
            content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="Flash Neo" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="The calling provides real-time HD quality and latency simply not available with traditional technology."
        />

        <!-- xss -->

        <script src="https://cdn.jsdelivr.net/npm/xss/dist/xss.min.js"></script>

        <!-- https://cdnjs.com/libraries/font-awesome -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
        <link rel="stylesheet" href="../css/newcall.css" />

        <!-- Snow effects -->

        <link rel="stylesheet" href="../css/snow.css" />
        <script defer src="../js/snow.js"></script>

        <!-- JavaScripts -->

        <script async src="../js/umami.js"></script>

        <!-- Meeting popups -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.min.css" />
        <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8"></script>

        <!-- Date/time picker -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </head>
    
    <body class="has-animations">
        <div id="snow-container"></div>
        <div class="body-wrap">
            <header class="site-header reveal-from-top">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand">
                            <div class="m-0">
                                <a href="https://imago.us" target="_new">
                                    <img class="flashlogo" src="../images/logo.svg" alt="Flash Neo" />
                                 
                                </a>
                            </div>
                        </div>
                        <div>
                            <!-- <button class="header-button">
                                <img src="../images/Setting.png" alt="Settings" />
                                Settings </button> -->
                           
                            <button class="header-button" id="scheduleBtn">
                                <img src="../images/Schedule-Meeting.png" alt="Schedule Meeting" /> Schedule Meeting </button>
                                
                            

                            
                        </div>
                    </div>
                </div>
            </header>
                <main class="site-content">
                    <section class="hero section illustration-section-01">
                        <div class="container">
                            <div class="hero-inner section-inner">
                                <div class="split-wrap invert-mobile">
                                    <div class="split-item">
                                        <div class="hero-content split-item-content center-content-mobile">
                                            <h1 id="appTitle" class="mt-32 mb-16 reveal-from-bottom" data-reveal-delay="150">
                                                Meet. Collaborate. Decide. <br /> All in One Video Conference
                                            </h1>
                                            <p id="appDescription" class="mt-0 mb-32 reveal-from-bottom" data-reveal-delay="300">
                                               Host secure, high-quality video meetings with build-in collaboration tools designed for teams, classrooms, and creators.
                                            </p>
                                            <br/>
                                        </div>
                                        <style>
                                            @media (min-width: 641px) {
                                                .hero .split-wrap .split-item {
                                                    min-height: 492px;
                                                }
                                            }
                                        </style>
                                        <!-- <div class="hero-figure split-item-image">
                                            <img src="../images/
                                            banner.svg" alt="Hero Image" class="responsive-image">
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>

                <section class="cta section center-content-mobile reveal-from-bottom mb-22">
                    <div class="container">
                        <div class="cta-inner section-inner cta-split br-12 b-1 bc-w" >
                            <div class="cta-slogan">
                                <h5 class="m-0">
                                    Create a Meeting Room 
                                </h3>
                            </div>
                            <div class="cta-body">
                                <div class="cta-action">
                                    <div class="mb-0">
                                        <label class="form-label screen-reader" for="roomName"></label>
                                        <div class="form-group-desktop">
                                            <input
                                                id="roomName"
                                                class="form-input"
                                                type="text"
                                                value=""
                                                placeholder="Enter your unique Meeting ID"
                                                maxlength=""
                                            />
                                            <button
                                                id="genRoomButton"
                                                class="button button-primary br-6 mr-8 fas fa-arrows-rotate"
                                            ></button>
                                            <button id="joinRoomButton" class="button button-primary br-6 pulse">
                                                Join
                                            </button>
                                        </div>
                                    </div>
                                    <div id="lastRoomContainer" class="last-room">
                                        <span>Your recent room:</span>
                                        <a id="lastRoom"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>  

                <section id="features" class="features-tiles section center-content mt-32">
                    <div class="container2">
                        <div class="features-tiles-inner section-inner">
                            <div class="section-header" >
                                <!-- reduce data-revel-delay from 650 to 100 -->
                                <div class="container-xs reveal-from-bottom" data-reveal-delay="100">
                                    <h2 class="m-0 section-header-title">
                                        Build for Clear, Secure, and Real-Time Collaboration. 
                                    </h2>
                                    <p class="m-0 section-header-paragraph">
                                        FlashPro delivers smooth, high-definition video conferencing designed for teams, educators and professionals who value quality, privacy and performance. 
                                    </p>
                                </div>
                            </div>
                            
                            <div class = "features-handling reveal-from-right" data-reveal-delay="200"> 
                                <h2 class="m-0 features-title"> Features </h2>
                            </div>
                        
                            <div class="tiles-wrap">
                                <!-- First Row -->
                                <!-- Change tiles-row to features-bento -->
                                <div class="features-bento">
                                    <!-- Screen Sharing -->
                                    <div class="tiles-item item-screen reveal-from-right">
                                        <div class="tiles-item-inner">
                                            <div class="features-tiles-item-header">
                                                <div class="features-tiles-item-image mb-17">
                                                    <img class = "wh-300-200" src="../svg/Screen-Sharing.svg" alt="Screen Sharing" />
                                                </div>
                                            </div>
                                            <div class="features-tiles-item-content">
                                                <h4 class="mt-0 mb-8 ta-l mbv">Screen Sharing</h4>
                                                <p class="m-0 text-sm ta-l mbv">
                                                    Share your entire screen, a specific window, or presentations effortlessely -
                                                    with support for stunning 4K resolution and up to 60fps.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Webcam -->
                                    <div class="tiles-item item-webcam reveal-from-left">
                                        <div class="tiles-item-inner">
                                            <div class="features-tiles-item-header">
                                                <div class="features-tiles-item-image mt-5 mb-14">
                                                    <img src="../svg/Camcorder.svg" alt="WebCam Streaming" class="align-left" />
                                                </div>
                                            </div>
                                            <div class="features-tiles-item-content">
                                                <h4 class="mb-8 ta-l mbv">WebCam Streaming</h4>
                                                <p class="m-0 text-sm ta-l mbv">
                                                    Bring conversations to life with high-definition webcam streaming, supporting 
                                                    up to 4K resolution for smooth and natural interactions.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Chat Room -->
                                    <div class="tiles-item item-chat reveal-from-right">
                                        <div class="tiles-item-inner">
                                            <div class="features-tiles-item-header">
                                                <div class="features-tiles-item-image mb-16">
                                                    <img src="../svg/Real-Time-Chat.svg" alt="Chat Room" />
                                                </div>
                                            </div>
                                            <div class="features-tiles-item-content">
                                                <h4 class="mt-0 mb-8 ta-l mbv">Real-Time Chat</h4>
                                                <p class="m-0 text-sm ta-l mbv">
                                                    Stay connected with public and private chat during meetings. Save messages,
                                                    react with emojis, and keep conversations organized.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Meeting Recording -->
                                    <div class="tiles-item item-recording reveal-from-left">
                                        <div class="tiles-item-inner">
                                            <div class="features-tiles-item-header">
                                                <div class="features-tiles-item-image mb-16">
                                                    <img src="../svg/Meeting-Recording.svg" alt="Meeting Recording" />
                                                </div>
                                            </div>
                                            <div class="features-tiles-item-content">
                                                <h4 class="mt-0 mb-8 ta-l mbv">Meeting Recording</h4>
                                                <p class="m-0 text-sm ta-l mbv">
                                                    Record your screen, webcam, and audio in one click - 
                                                    perfect for reviews, sharing or future reference. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Interactive Whiteboard -->
                                    <div class="tiles-item item-whiteboard reveal-from-right">
                                        <div class="tiles-item-inner">
                                            <div class="features-tiles-item-header">
                                                <div class="features-tiles-item-image mb-16">
                                                    <img src="../svg/Interactive-Whiteboard.svg" alt="Interactive Whiteboard" />
                                                </div>
                                            </div>
                                            <div class="features-tiles-item-content">
                                                <h4 class="mt-0 mb-8 ta-l mbv">Interactive Whiteboard</h4>
                                                <p class="m-0 text-sm ta-l mbv">
                                                    Explain ideas clearly and collaborate visually using an advanced
                                                    whiteboard built for real-time discussion and teamwork.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Secure File Sharing -->
                                    <div class="tiles-item item-file-sharing reveal-from-left">
                                        <div class="tiles-item-inner">
                                            <div class="features-tiles-item-header">
                                                <div class="features-tiles-item-image mb-16">
                                                    <img src="../svg/Secure-File-Sharing.svg" alt="File Sharing" />
                                                </div>
                                            </div>
                                            <div class="features-tiles-item-content">
                                                <h4 class="mt-0 mb-8 ta-l mbv">Secure File Sharing</h4>
                                                <p class="m-0 text-sm ta-l mbv">
                                                    Share files of any type safely with meeting participants using encrypted transfer technology.                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Third Row -->
                                <h2 class = "m-0" style="color: #464547"> Privacy & Security </h2>
                                <div class="tiles-row">
                                    <div class="tiles-item reveal-from-right">
                                        <div class="tiles-item-inner">
                                            <div class="features-tiles-item-header">
                                                <div class="features-tiles-item-image mb-16">
                                                    <img src="../svg/total_privacy.svg" alt="Total Privacy" />
                                                </div>
                                            </div>
                                            <div class="features-tiles-item-content">
                                                <!-- Total Privacy -->
                                                <h4 class="mt-0 mb-8 ta-l mbv">Your Meetings. Your Data.</h4> 
                                                <p class="m-0 text-sm ta-l mbv">
                                                    FlashPro is built with privacy at it's core. Your conversations stay between 
                                                    you and your participants - no data tracking, no information sharing. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="tiles-item reveal-from-left">
                                        <div class="tiles-item-inner">
                                            <div class="features-tiles-item-header">
                                                <div class="features-tiles-item-image mb-16">
                                                    <img src="../svg/maximum_security.svg" alt="Maximum Security" />
                                                </div>
                                            </div>
                                            <div class="features-tiles-item-content">
                                                <!-- Maximum Security -->
                                                <h4 class="mt-0 mb-8 ta-l mbv">End-to-End Encryption</h4>
                                                <p class="m-0 text-sm ta-l mbv">
                                                    All calls are protected with advanced end-to-end encryption, ensuring maximum security for every meeting.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="cta2 section center-content-mobile reveal-from-bottom bottom p-32">
                    <div class="container">
                        <div class="cta-content">
                            <div class="additional-text">
                                <div class="heading2 mb-8 mt-32 mbv">Experience Meetings Without Compromises</div>
                                <!-- added style to align the text to the center -->
                                <h4 class="mbv" style="text-align: center;">High Quality. Zero Limits. Total Privacy.</h4> 
                            </div>
                        </div>
                    </div>
                </section>   
                
                
            </main>

            <footer id="footer" class="site-footer center-content-mobile">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="footer-top space-between text-xxs">
                            <div class="footer-copyright">&copy; 2024 - IMAGO | All rights reserved</div>
                            <div class="brand">
                            </div>
                            <div class="footer-social">
                                <ul class="list-reset">
                                    <li class="footer-social-icon">
                                        <a target="_blank" href="https://www.facebook.com/imagotechnologies">
                                            <svg
                                                width="16"
                                                height="16"
                                                viewBox="0 0 16 16"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <title>Facebook</title>
                                                <img src="../svg/facebook_logo.svg" alt="Neon" width="32" height="32" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="footer-social-icon">
                                        <a target="_blank" href="https://twitter.com/IMAGOTECHS">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="18"
                                                height="18"
                                                viewBox="0 0 24 24"
                                            >
                                                <title>X</title>
                                                <img src="../svg/X_logo.svg" alt="Neon" width="22" height="22" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="footer-social-icon">
                                        <a target="_blank" href="https://www.youtube.com/channel/UC_QSmr9trOXLSHKxHtPKctw/featured">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="18"
                                                height="18"
                                                viewBox="0 0 24 24"
                                            >
                                                <title>YouTube</title>
                                                <img src="../svg/youtube_logo.svg" alt="Neon" width="32" height="32" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="footer-social-icon">
                                        <a target="_blank" href="https://www.linkedin.com/company/imagotechnologies">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="18"
                                                height="18"
                                                viewBox="0 0 24 24"
                                            >
                                                <title>X</title>
                                                <img src="../svg/linkedin_logo.svg" alt="Neon" width="32" height="32" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="footer-social-icon">
                                        <a target="_blank" href="https://www.instagram.com/imagotechs/?fbclid=IwAR3CFOL5HWb65ZP3Wme6DmOKv0V7OAb5YOhZNPvIsgwQ1rJTbxkK6pGCBXA">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="18"
                                                height="18"
                                                viewBox="0 0 24 24"
                                            >
                                                <title>X</title>
                                                <img src="../svg/instagram_logo.svg" alt="Neon" width="32" height="32" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script defer src="../js/brand.js"></script>
        <script defer src="../js/landing.js"></script>
        <script defer src="../js/common.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
