@import url('https://fonts.googleapis.com/css?family=Comfortaa:wght@500&display=swap');

/*--------------------------------------------------------------
# Root settings
--------------------------------------------------------------*/

:root {
    /* common */
    --navbar-bg: rgba(0, 0, 0, 0.2);
    --body-bg: #181719;

    --msger-top: 50%;
    --msger-left: 50%;
    --msger-height: 680px;
    --msger-width: 420px;
    --msger-bubble-width: 85%;

    --caption-height: 680px;
    --caption-width: 420px;

    /* video iframe */
    --iframe-width: 640px;
    --iframe-height: 480px;

    /* whiteboard resize */
    --wb-width: 800px;
    --wb-height: 600px;

    /* my settings */
    --mySettings-select-w: 100%;

    /* btns hover scale 110% zoom */
    --btns-hover-scale: scale(1.1);
    --hover-color: grey;

    /* video elem border color */
    --elem-border-color: none;

    --tab-btn-active: rgb(30 29 29);

    --btn-bar-bg-color: #fff;
    --btn-bar-color: #000;

    /* left buttons bar vertical default */
    --btns-top: 50%;
    --btns-right: 0%;
    --btns-left: 15px;
    --btns-margin-left: 0px;
    --btns-width: 40px;
    --btns-flex-direction: column;

    /* left buttons bar horizontal
    --btns-top: 95%;
    --btns-right: 25%;
    --btns-left: 50%;
    --btns-margin-left: -330px;
    --btns-width: 660px;
    --btns-flex-direction: row;
    */

    /* dark theme */
    --body-bg: #181719;
    --msger-bg: #181719;
    --msger-private-bg: #181719;
    --wb-bg: #181719;

    /* chat msg boble */
    --left-msg-bg: #252d31;
    --right-msg-bg: #056162;
    --private-msg-bg: #6b1226;

    /* volume detected */
    --volume-up: 0px 8px 16px 0px rgb(249, 253, 0);

    /* video avatar img size */
    --vmi-wh: 15vw;
    /* 
        https://developer.mozilla.org/it/docs/Web/CSS/object-fit 
    */
    --video-object-fit: contain;
}

* {
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.site-header {
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 10 !important;
}

.site-header + .site-content .section:first-of-type {
    padding-top: 80px;
}

.site-header .brand {
    margin-right: 32px;
}

.site-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

@media (max-width: 768px) {
    .site-header-inner {
        flex-direction: column;
        align-items: flex-start;
    }

    img {
        width: 35%;
        height: auto;
    }
}

.container,
.container-sm,
.container-xs {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    
}

@media (min-width: 481px) {
    .container,
    .container-sm,
    .container-xs {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.container {
    max-width: 1128px;
}

.container-sm {
    max-width: 944px;
}

.container-xs {
    max-width: 668px;
}

[class*='container'] [class*='container'] {
    padding-left: 0;
    padding-right: 0;
}

[class*='container'] .container-sm {
    max-width: 896px;
}

[class*='container'] .container-xs {
    max-width: 620px;
}
@media (min-width: 821px) {
    .container .split-wrap .split-item .split-item-content {
        width: 488px;
    }

    .container .split-wrap .split-item .split-item-image {
        min-width: 528px;
    }
}

/*--------------------------------------------------------------
# Body Html setup
--------------------------------------------------------------*/

html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #181719;
    overflow: hidden; /* Prevents scrolling */
    font-family: 'Poppins', sans-serif;
}

.bgb {
    background-color: #181719;
}

/*--------------------------------------------------------------
# Google Translate
--------------------------------------------------------------*/

.skiptranslate iframe,
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

#google_translate_element select {
    background: var(--select-bg) !important;
}

/*--------------------------------------------------------------
# Loading...
--------------------------------------------------------------*/

#loadingDiv {
    color: #fff;
    padding: 30px;
    text-align: center;
}
#loadingDiv h1 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}
#loadingDiv img {
    margin-top: 5px;
    margin-bottom: 5px;
}
#loadingDiv pre {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}
.loading-font,
.loading-img  {
    width: 60%;
}

@media (max-width: 640px)  {
    .loading-font,
    .loading-img  {
        width: 150%;
        margin-left: -25%;
    }
}

/*--------------------------------------------------------------
# Init User
--------------------------------------------------------------*/

/* General styles */
.init-modal-size {
    width: 924px !important;
    height: auto !important;
}

.init-user {
    display: flex;
    flex-direction: column;
    height: 70vh; /* Full viewport height */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Ensure padding and borders are included in the element's width and height */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

.init-video-container {
    flex-grow: 1; /* Allow the video container to grow and fill available space */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align the video to the bottom of the container */
    padding: 0;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

.init-video-container video {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Fit the video within the container */
}

.initComands {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

.initComands button {
    height: 40px;
    padding: 5px 10px;
}

/* Mobile Layout */
@media (max-width: 768px) {
    .init-user {
        height: 60vh; /* Adjust height for smaller screens */
        flex-direction: row;
        overflow: hidden; /* Hide any overflow */
    }

    .init-video-container {
        height: 50%; /* Allocate space for the video container */
    }

    .initComands {
        display: flex;
        flex-direction: row; /* Arrange buttons in a row */
        gap: 10px; /* Space between buttons */
        padding: 10px;
        overflow: hidden; /* Ensure no scrollbar appears */
    }

    .initComands button {
        height: 50px; /* Larger buttons on mobile */
        width: 100%; /* Full width for each button */
        padding: 10px;
    }

    .initComands button img {
        width: 26px; /* Larger image size on mobile */
        height: auto; /* Maintain aspect ratio */
    }
}

@media (max-width: 480px) {
    .init-user {
        height: 47vh; /* Adjust height for very small screens */
        margin-bottom: -100px; /* Remove negative margin */
        overflow: hidden; /* Hide overflow */
    }
    
    .initComands {
        padding: 5px;
        gap: 5px; /* Reduce space between buttons */
        overflow: hidden; /* Ensure no scrollbar appears */
    }

    .initComands button {
        height: 45px; /* Adjust button height */
        width: 100%; /* Full width for each button */
    }

    .initComands button img {
        width: 26px; /* Ensure consistent image size on very small screens */
        height: auto; /* Maintain aspect ratio */
    }

    /* Additional style to ensure no horizontal scrollbar */
    body {
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }

    /* Hide scrollbar in webkit browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
        display: none; /* Hide the scrollbar */
    }
}

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/

#videoContainer {
    display: flex; /* Default layout */
    flex-wrap: wrap;
}

#videoContainer.grid {
    display: grid; /* Switch to grid layout */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive grid columns */
    gap: 10px; /* Space between videos */
}

#videoContainer video {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}


/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #181719;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 18px;
    width: 300px;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}



@media screen and (max-width: 1024px) {
    .init-modal-size {
        width: auto !important;
    }
    .init-user {
        display: block;
    }
    .init-video-container {
        padding: 0px;
    }
    .init-modal-size {
        width: 480px !important;
    }
}

.init-user select {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #000000;
    color: rgb(255, 255, 255);
    border: var(--border);
    border-radius: 18px;
    box-shadow: none;
    cursor: pointer;
}

.init-user button {
    width: 50px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: white;
    border: var(--border);
    border-radius: 5px;
    background-color: transparent;
}

.init-user button:hover {
    background-color: rgb(35, 35, 35);
    color: white;
    transform: scale(1);
}

/*--------------------------------------------------------------
# Left buttons
--------------------------------------------------------------*/

#buttonsBar {
    z-index: 10;
    display: none;
    position: fixed;
    padding: 10px;
    bottom: 10px; /* Stick to the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal centering */
    width: 100%;
    max-width: 601px;
    height: 50px;
    flex-direction: row; /* Ensure buttons are in a row */
    justify-content: center;
    grid-gap: 0.4rem;
    background: black;
    box-shadow: 0px 8px 16px 0px rgb(33 33 33);
    border-radius: 16px;
    overflow: hidden;
    border: none; /* Remove any border from the bar */
}

#buttonsBar button {
    padding: 4px;
    background: transparent;
    color: var(--btn-bar-color);
    border: none; /* Ensure buttons have no border */
}

#buttonsBar button:hover {
    color: var(--hover-color);
    background-color: transparent; /* Ensure the hover doesn't create a border effect */
}

#buttonsBar button:focus {
    outline: none;
    background-color: transparent;
    border: none;
}

#buttonsBar #leaveRoomBtn {
    color: #ff2d00;
}

.fa-microphone-slash,
.fa-video-slash {
    color: #e74c3c !important;
}

/* Mobile-specific styles */
@media (max-width: 480px) {
    #buttonsBar {
        padding: 8px;
        max-width: 100%;
        height: 60px; /* Increase the height to accommodate larger images */
    }

    #buttonsBar button {
        padding: 6px;
    }

    #buttonsBar button img {
        width: 17px; /* Increase the size of the button images for better visibility */
        height: auto; /* Maintain aspect ratio */
    }
}


/*--------------------------------------------------------------
# Caption
--------------------------------------------------------------*/

.caption-draggable {
    z-index: 14;
    display: none;
    position: fixed;
    /* center screen */
    top: var(--caption-top);
    left: var(--caption-left);
    transform: translate(-50%, -50%);
    /* end center screen  */
    height: var(--caption-height);
    width: var(--caption-width);
    min-height: var(--caption-height);
    min-width: var(--caption-width);
    background: #181719;
    border: var(--border);
    /* text-align: justify; */
    resize: both;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.caption {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background: #181719;
}

.caption-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    color: #666;
    cursor: move;
}

.caption-header-title button,
.caption-header-options button {
    padding: 5px;
    /* border: var(--border); */
    border: none;
    font-size: 1.1rem;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    transition: background 0.23s;
}

.caption-header-title button:hover,
.caption-header-options button:hover {
    color: var(--hover-color);
    transform: var(--btns-hover-scale);
    transition: all 0.3s ease-in-out;
}

.caption-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background: transparent;
    max-width: 95%;
}

.caption-chat::-webkit-scrollbar {
    width: 5px;
}

.caption-chat::-webkit-scrollbar-track {
    background: transparent;
}

.caption-chat::-webkit-scrollbar-thumb {
    background: black;
    /*aqua;*/
}

.caption-inputarea {
    display: inline-flex;
    padding: 10px;
    border: none;
    border: var(--border);
}

.caption-inputarea select {
    margin: 0 5px;
    cursor: pointer;
}

.left-msg .msg-caption-bubble {
    background: var(--left-msg-bg);
    border-bottom-left-radius: 0;
    color: #fff;
    width: var(--msger-bubble-width);
}

#captionMaxBtn,
#captionMinBtn {
    display: none;
}

#speechRecognitionStart,
#speechRecognitionStop {
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: transparent;
}

#speechRecognitionStart:hover,
#speechRecognitionStop:hover {
    color: var(--hover-color);
    transform: var(--btns-hover-scale);
    transition: all 0.3s ease-in-out;
}

/*--------------------------------------------------------------
# bottom bar
--------------------------------------------------------------*/

.bottom-bar2 {
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-top: 5px;
    width: 400px;
    box-sizing: border-box; /* Ensure padding and borders are included in width */
    display: block; /* Ensure it takes up the full width of its container */
}

/*--------------------------------------------------------------
# Participands list
--------------------------------------------------------------*/


.participant {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.participant-avatar {
    width: 26px;
    border-radius: 50%;
    margin-right: 10px;
}

.participant-name {
    color: white;
    font-size: 15px;
}


/*--------------------------------------------------------------
# Participands
--------------------------------------------------------------*/

.close-btn {
    background: transparent;
    color: #fff; /* Adjust color as needed */
    font-size: 24px; /* Adjust size as needed */
    cursor: pointer;
    position: absolute;
    top: 10px; /* Adjust position as needed */
    right: 10px; /* Adjust position as needed */
    border: none;
}

/* Container Styling */
#tabParticipants {
    font-family: 'Poppins', sans-serif; /* Consistent font */
    background: #3c3c3c; /* Same background color as .tabcontent */
    padding: 20px; /* Padding around the content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow effect */
    position: fixed; /* Fixed position to keep it on screen */
    top: 50%; /* Vertically centered */
    right: 20px; /* Positioned 20px from the right */
    transform: translateY(-50%); /* Adjusted vertical centering */
    width: 400px; /* Width of the participants tab */
    height: 80%; /* Height of the participants tab */
    z-index: 1000; /* Ensures it's above other content */
    border-radius: 4px; /* Border radius for rounded corners */
}

/* Styling for title inside participants window */
#tabParticipants .title {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd; /* Border similar to .tab */
    width: 400px;
    padding-bottom: 10px; /* Add some padding */
}

/* Style for buttons inside participants window */
#tabParticipants button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd; /* Add border to match tab button style */
    background-color: #3c3c3c; /* Background color for button */
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px; /* Match button border-radius */
}

#tabParticipants button:hover {
    background-color: #e0e0e0;
    transform: scale(0.95); /* Consistent hover effect */
}

#tabRoomParticipants {
    position: absolute;
    bottom: 20px; /* 20px from the bottom of the container */
    left: 20px;
    right: 20px;
}
#tabRoomParticipants button {
    width: 98px; /* Full width buttons */
    margin-bottom: 10px;
    padding: 10px;
    border: none; /* Button border */
    border-radius: 4px;
    background-color: #ff5e00; /* Button background */
    cursor: pointer;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

#tabRoomParticipants button:hover {
    background-color: #e0e0e0;
    transform: scale(0.95); /* Hover effect */
}

/* Ensure content has the same font and padding */
#tabParticipants p,
#tabParticipants h1,
#tabParticipants h2,
#tabParticipants h3,
#tabParticipants h4,
#tabParticipants h5,
#tabParticipants h6,
#tabParticipants table,
#tabParticipants input,
#tabParticipants select,
#tabParticipants button {
    font-family: 'Poppins', sans-serif;
}

/* Responsive adjustments */
@media screen and (max-width: 830px) {
    #tabParticipants {
        width: 90%; /* Adjust width for smaller screens */
        right: 10px; /* Adjust right positioning */
        top: 10px; /* Adjust top positioning */
        transform: none; /* Remove transform on smaller screens */
        border-radius: 10px; /* More rounded corners */
        height: calc(100% - 20px); /* Full height minus padding */
    }

    #tabRoomParticipants {
        bottom: 10px; /* Adjust bottom margin */
        left: 10px;
        right: 10px;
    }
}



@media screen and (max-width: 480px) {
    #tabParticipants {
        width: 80%; /* Full width on mobile devices */
        height: 90vh; /* Full viewport height on mobile devices */
        box-shadow: none; /* Remove shadow on mobile if needed */
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 4px;
    }

    #tabParticipants .title {
        width: 330px;
    }

    #tabRoomParticipants {
        bottom: 20px; /* Adjust bottom margin */
        left: 20px;
        right: 20px;
    }

    .close-btn {
        font-size: 28px; /* Larger close button on smaller screens */
        top: 10px; /* Adjust position of the close button */
        right: 10px; /* Adjust position of the close button */
    }
}

.search-container {
    margin-bottom: 10px;
}

#searchParticipantBar {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.participant-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
}



/*--------------------------------------------------------------
# Chat room aka msger
--------------------------------------------------------------*/

.msger-draggable {
    z-index: 14;
    display: none;
    position: relative; /* Changed to relative */
    height: var(--msger-height);
    width: var(--msger-width);
    min-height: var(--msger-height);
    min-width: var(--msger-width);
    background: #3C3C3C;
    border: var(--border);
    margin-left: 100%;
    resize: both;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    flex-direction: column;
    justify-content: space-between;
}
/* Example reset for surrounding elements */
.container, .parent-element {
    background: none; /* or set to desired background */
    border: none; /* or adjust border settings */
}


.msger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #3c3c3c;
    font-family: 'Poppins', sans-serif; /* Consistent font */
    padding: 20px; /* Padding around the content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow effect */
    position: fixed; /* Fixed position to keep it on screen */
    top: 50%; /* Vertically centered */
    right: 20px; /* Positioned 20px from the right */
    transform: translateY(-50%); /* Adjusted vertical centering */
    width: 400px; /* Width of the participants tab */
    height: 80%; /* Height of the participants tab */
    z-index: 1000; /* Ensures it's above other content */
    border-radius: 4px; /* Border radius for rounded corners */
}

@media (max-width: 768px) {
    .msger {
        width: 80%; /* Full width on mobile devices */
        height: 90vh; /* Full viewport height on mobile devices */
        border-left: none; /* Remove border on mobile if needed */
        box-shadow: none; /* Remove shadow on mobile if needed */
    }
}


/*--------------------------------------------------------------
# Chat room header
--------------------------------------------------------------*/

.msger-header {
    display: flex;
    justify-content: space-between;
    background: #3c3c3c;
    color: #666;
    font-size: 18px;
    margin-top: 23px;
    padding-bottom: 18px;
    border-bottom: 1px solid #ddd;
}

.msger-private-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #3c3c3c;
    color: #666;
}

.msger-header-title button,
.msger-header-options button {
    border: none;
    font-size: 20px;
    background: #3c3c3c;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    transition: background 0.23s;
}

@media screen and (max-width: 480px) {
    .msger-header {
        padding-bottom: 10px;
    }
}

.msger-header-title button:hover,
.msger-header-options button:hover {
    color: var(--hover-color);
    transform: var(--btns-hover-scale);
    transition: all 0.3s ease-in-out;
}

#msgerMaxBtn,
#msgerMinBtn {
    display: none;
}

/*--------------------------------------------------------------
# Chat room output area
--------------------------------------------------------------*/

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background: transparent;
    max-width: 95%;
}

.msger-chat::-webkit-scrollbar {
    width: 5px;
}

.msger-chat::-webkit-scrollbar-track {
    background: transparent;
}

.msger-chat::-webkit-scrollbar-thumb {
    background: black;
    /*aqua;*/
}

.msg {
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

/* left side */

.left-msg .msg-bubble {
    background: var(--left-msg-bg);
    border-bottom-left-radius: 0;
    color: #fff;
    width: var(--msger-bubble-width);
}

.left-msg .private-msg-bubble {
    background: var(--private-msg-bg);
    border-bottom-left-radius: 0;
    color: #fff;
    width: var(--msger-bubble-width);
}

.left-msg .msg-img {
    margin: 0px 5px 5px 0px;
}

/* right side */

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    border-bottom-right-radius: 0;
    color: #fff;
    width: var(--msger-bubble-width);
}

.right-msg .private-msg-bubble {
    background: var(--private-msg-bg);
    border-bottom-right-radius: 0;
    color: #fff;
    width: var(--msger-bubble-width);
}

.right-msg .msg-img {
    margin: 0px 0px 5px 5px;
}

/* common */

.msg-img {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.peer-img {
    width: 48px;
    height: 48px;
    border-radius: 50px !important;
}

.private-msg-bubble,
.msg-bubble {
    /* max-width: 200px; */
    padding: 15px;
    border-radius: 15px;
    overflow: auto;
}

.msg-caption-bubble {
    padding: 15px;
    border-radius: 15px;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.msg-text {
    /* https://css-tricks.com/almanac/properties/o/overflow-wrap/ */
    display: inline;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.msg-text iframe {
    width: 100%;
}

.msger-copy-txt {
    border: none;
    border-radius: 5px;
    color: #fff;
    background: transparent;
}

a {
    color: #fff;
}
a:hover {
    color: var(--hover-color);
    transition: all 0.3s ease-in-out;
}

#chat-msg-a {
    color: #fff;
}

button:hover {
    transform: var(--btns-hover-scale);
}

/*--------------------------------------------------------------
# Chat room input area
--------------------------------------------------------------*/

.msger-inputarea {
    display: flex;
    padding: 10px;
    background: #181719;
    border: none;
    border-radius: 4px;
}

.msger-input {
    flex: 1;
    padding: 10px;
    height: 15px;
    resize: none;
    color: #fff;
    font-size: 14px !important;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
    border: none;
    overflow: hidden;
}

.msger-input::-webkit-scrollbar {
    width: 5px;
}

.msger-input::-webkit-scrollbar-track {
    background: transparent;
}

.msger-input::-webkit-scrollbar-thumb {
    background: #404040;
}

/*--------------------------------------------------------------
# Chat room buttons area
--------------------------------------------------------------*/

.msger-input-buttons {
    padding: 10px;
    background: #181719;
}

.msger-input-buttons button {
    padding: 5px;
    /* border: var(--border); */
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    background: #181719;
    transition: background 0.23s;
}

.msger-input-buttons button:hover {
    color: var(--hover-color);
    transform: var(--btns-hover-scale);
    transition: all 0.3s ease-in-out;
}

.msger-input-buttons input {
    cursor: pointer;
}

#msgerSendBtn {
    float: right;
}

/*--------------------------------------------------------------
# Chat Connected Peers 
--------------------------------------------------------------*/

#msgerCP {
    z-index: 12;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: default;
    background: var(--msger-private-bg);
    overflow: hidden;
}

#msgerCPChat {
    flex: 1;
    overflow-y: auto;
    background: transparent;
}

#msgerCPList {
    border: var(--border);
}

#msgerCPList textarea {
    height: auto;
}

#msgerCPList button {
    border: none;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 5px;
}

#msgerCPList button:hover {
    color: var(--hover-color);
}

#searchPeerBarName {
    width: 94.5%;
    padding: 10px;
    font-size: 1rem;
    background-color: transparent;
    color: #ffffff;
    border: var(--border);
}

.msger-peer-inputarea {
    display: flex;
    padding: 10px;
    background: #181719;
}

.msger-peer-inputarea * {
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    margin: 1px;
    color: #fff;
}

/*--------------------------------------------------------------
# Chat/room/user emoji picker
--------------------------------------------------------------*/

.chatEmojiPicker {
    z-index: 12;
    position: absolute;
    bottom: 105px;
    left: 10px;
}

.roomEmoji {
    z-index: 18;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userEmoji {
    z-index: 18;
    position: absolute;
    left: 80px;
    bottom: 60px;
}

.emojiPickerHeader {
    display: flex;
    justify-content: flex-start;
    background: #151616;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    cursor: move;
}

#closeEmojiPickerContainer {
    font-size: 1.3rem;
    color: #ffffff;
    background: transparent;
    border-radius: 10px;
    border: none;
}

/* Restrict the picker to show only one line of emojis */
.emoji-mart {
    max-height: 40px !important; /* Adjust this to the height of one line */
    overflow: hidden !important;
}

/* Optional: Adjust the emoji size and padding */
.emoji-mart-emoji {
    padding: 0px !important;
    margin: 0px !important;
}


/*--------------------------------------------------------------
# mini arrow
--------------------------------------------------------------*/


#emojiShareBtn img {
    width: 20px; /* Adjust the size of the arrow icon */
    transition: transform 0.3s ease; /* Optional: Add a smooth transition */
}

#emojiShareBtn:hover img {
    transform: scale(1.1); /* Optional: Slightly enlarge the arrow on hover */
}


/*--------------------------------------------------------------
# Data time picker
--------------------------------------------------------------*/

#datetimePicker {
    padding: 10px;
    text-align: center;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
}

/*--------------------------------------------------------------
# Room QR
--------------------------------------------------------------*/
#container {
    border: 1px  #ff5e00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#qrRoomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------------------------
# My settings
--------------------------------------------------------------*/

#mySettings {
    z-index: 16;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the element */
    padding: 10px;
    width: 50%;
    min-height: 480px;
    background: #3c3c3c;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Remove any margin that might affect centering */
}

.mySettingsMain {
    display: flex;
}

.mtm-10 {
    margin-top: 0;
    margin-left: 1%;
    margin-bottom: -2%; 
    color: white;
}

@media screen and (max-width: 1030px) {
    #mySettings {
        width: 75%;
    }
}

@media screen and (max-width: 830px) {
    #mySettings {
        width: 70%;
        min-height: auto;
    }
    .mySettingsMain {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    #mySettings {
        width: 10%;
        max-height: 95vh; /* Maximum height set to 90% of the viewport height */
        min-height: auto;
        box-sizing: border-box; /* Include padding in the width calculation */
        overflow-y: auto; /* Allow vertical scrolling if content exceeds the max height */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the element */
    }
    .mtm-10 {
        margin-top: 10px;
    }
}



#mySettingsHeader {
    height: 25px;
    cursor: move;
}

#mySettings i,
#mySettings p {
    display: inline-flex;
    margin: auto;
    color: #fff;
    padding: 5px;
    background: transparent;
}

#mySettings select {
    display: block;
    padding: 10px;
    min-width: 150px;
    max-width: 310px;
    margin-top: 10px;
    /* height: 40px; */
    background: var(--select-bg) !important;
    color: #fff;
    border: var(--border);
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}

#mySettingsCloseBtn {
    font-size: 1.4rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    float: right;
    background: transparent;
    transition: background 0.23s;
}

#mySettingsCloseBtn:hover {
    color: var(--hover-color);
    transform: var(--btns-hover-scale);
    transition: all 0.3s ease-in-out;
}

.form-check-input {
    cursor: pointer;
}

.title {
    display: inline-table;
    width: auto;
    color: white;
    font-size: 14px;
    /* font-weight: bold; */
}

.inline-check-box {
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: center; /* Vertical centering */
    align-items: center; /* Horizontal centering */
    text-align: left;
    color: white;
}

#themeColorPicker {
    z-index: 6;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 130px;
    border: var(--border);
    border-radius: 5px;
    background: var(--select-bg);
    color: white;
    cursor: pointer;
}

#keepCustomTheme {
    margin-bottom: 10px;
}

.buttons {
    padding: 10px;
    float: left;
    text-align: left;
    color: #fff;
    width: auto !important;
    border: var(--border);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.buttons:hover {
    background-color: var(--select-bg) !important;
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}

#extraInfo {
    padding: 10px;
    font-size: 0.8rem;
    color: #fff;
    /* background: var(--select-bg); */
    border-radius: 10px;
}

/*--------------------------------------------------------------
# Settings buttons
--------------------------------------------------------------*/
#tabRoomSecurity {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: -248px;
    margin-top: -150px;
    margin-bottom: -150px;
}

#roomPasswordInput {
    padding: 10px;
    font-size: 12px;
    margin-top: 5px;
    background-color: #232120;
    color: white;
    width: 250px;
    border: none;
    border-radius: 8px;
}


#lockUnlockBtn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -285px;
    margin-top: 5px;
}

@media  (max-width: 640px) {
    #tabRoomSecurity {
        margin-left: -118px;

    }
}

#lockIcon {
    width: 20px;
    height: 20px;
}


#myPeerNameSet {
    width: 50%;
    padding: 10px;
    border: var(--border);
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}

#tabRoomSecurity button {
    width: 100%;
    margin-bottom: 5px;
}

#myProfileAvatar {
    margin-top: 10px;
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

#myPeerNameSetBtn,
#muteEveryoneBtn,
#hideEveryoneBtn,
#ejectEveryoneBtn,
#lockRoomBtn,
#unlockRoomBtn {
    padding: 10px;
    border: var(--border);
    border-radius: 5px;
    color: #fff;
    background-color: transparent;
}

#roomSendEmailBtn{
    padding: 5px;
    margin-left: 150px;
    border-radius: 8px;
    background-color: #ff5e00;
    width: 78px;
    border: none;
    color: #fff;
}

@media (max-width: 768px) {
    #roomSendEmailBtn {
        padding: 4px;
        margin-left: 100px;
        width: 65px;
        font-size: 12px;
    }
}

/* Further adjustment for mobile phones */
@media (max-width: 480px) {
    #roomSendEmailBtn {
        padding: 3px;
        margin-left: 150px;
        width: 65px;
        font-size: 10px;
    }
}


#recImage {
    width: 128px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 30px;
    cursor: pointer;
}

#recImage:hover {
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.2);
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}

#myPeerNameSetBtn:hover,
#roomSendEmailBtn:hover,
#lockRoomBtn:hover,
#unlockRoomBtn:hover {
    color: var(--hover-color);
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}

#muteEveryoneBtn:hover,
#hideEveryoneBtn:hover,
#ejectEveryoneBtn:hover {
    color: #ff2d00;
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}

/*--------------------------------------------------------------
# Settings Table
--------------------------------------------------------------*/

#mySettingsTable {
    /* margin-top: 5px; */
    width: 100%;
    color: #fff;
    border-collapse: collapse;
    border-style: hidden;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 0 1px #666; */
}
#mySettingsTable td,
th {
    padding: 5px;
}
#mySettingsTable tr td {
    text-align: left;
}
#mySettingsTable tr:nth-child(even) {
    /* background-color: #2b2b2b; */
}

.width-130 {
    width: 130px;
}
.width-180 {
    width: 160px;
}
.width-250 {
    width: 250px;
}
.width-500 {
    width: 500px;
}

/*--------------------------------------------------------------
# Hide me button
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Style the tab
--------------------------------------------------------------*/

/* Style the tab container */
/* Container for the tabs */
.tab-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Style for the tab buttons */
.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

/* Style for each tab button */
.tab button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Icon margin adjustment */
.tab button i {
    margin-right: 8px;
}

/* Text inside tab buttons */
.tabButtonText {
    margin: 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

/* Style for the active tab button */
.tab button.active {
    border-bottom: 2px solid #007bff;
    color: #007bff;
}

/* Style for the tab content */
.tabActions {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: transparent;
    transform: scale(0.95);
}

/* Active/current tab link style */
.tab button.active {
    background-color: #232120;
    border: 1px solid #ff5e00;
    border-radius: 8px;
}

/* Style the tab content */
.tabcontent {
    font-family: 'Poppins', sans-serif;
    padding: 6px 12px;
    border-top: none;
    display: none; /* Hide content by default */
    width: 100%;
}

/* Display tab content when active */
.tabcontent.show {
    display: block;
}

/* Responsive adjustments */
@media screen and (max-width: 830px) {
    .tab {
        flex-direction: row; /* Stack tabs vertically on smaller screens */
    }
}

@media (max-width: 768px) {
    .tabButtonText {
        font-size: 12px; /* Adjust font size for tablets */
    }
}

@media (max-width: 480px) {
    .tabButtonText {
        font-size: 12px; /* Further reduce font size for small screens */
    }
    
    .tab button {
        padding: 8px 15px; /* Adjust padding for small screens */
    }
}



/*--------------------------------------------------------------
# Settings - microphone volume indicator
--------------------------------------------------------------*/

.volume-container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #181719;
    border-radius: 8px;
}

.volume-bar {
    flex: 1;
    height: 5px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.active {
    background-color: limegreen;
}

/*--------------------------------------------------------------
# Input slider UI
--------------------------------------------------------------*/

.switch {
    position: relative;
    display: inline-block;
    width: 41px;
    height: 19px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 17px;
    width: 17px;
    left: 0px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*--------------------------------------------------------------
# Swal2
--------------------------------------------------------------*/

.swal2-validation-message,
.swal2-title,
.swal2-content,
.swal2-input {
    text-align: center;
    color: white !important;
}

.swal2-title {
    font-family: 'Poppins', sans-serif;
}

.swal2-input {
    border-radius: 8px;
    background-color: white;
    margin-top: -200px;
}

.swal2-file {
    color: white !important;
    background-color: transparent !important;
}

.swal2-html-container {
    color: rgb(165, 165, 165) !important;
}

.swal2-popup {
    background-color: transparent !important;
}

.swal2-popup .swal2-styled:focus {
    background-color: transparent !important;
}

.swal2-select {
    color: white !important;
    border-radius: 6px !important;
}

.swal2-timer-progress-bar-container {
    background: #376df9;
}

.img-about {
    margin: 0 !important;
}

/*--------------------------------------------------------------
# Fade in page on load 
--------------------------------------------------------------*/

.fadein {
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*--------------------------------------------------------------
# Pulse class effect
--------------------------------------------------------------*/

.pulsate {
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

/*--------------------------------------------------------------
# Send File
--------------------------------------------------------------*/

#sendFileDiv,
#receiveFileDiv {
    z-index: 17;
    display: none;
    min-width: 320px;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    color: #fff;
    font-size: 1rem;
    background: #181719;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

#sendAbortBtn,
#receiveAbortBtn,
#receiveHideBtn {
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    transition: background 0.23s;
}

#sendAbortBtn:hover,
#receiveAbortBtn:hover,
#receiveHideBtn:hover {
    color: rgb(255, 0, 0);
    transform: var(--btns-hover-scale);
    transition: all 0.3s ease-in-out;
}

progress {
    width: 0;
    min-width: 100%;
}

#imgShareSend:hover,
#imgShareReceive:hover {
    cursor: move;
}

#dropArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
}

#dropArea p {
    margin: 0;
}

/*--------------------------------------------------------------
# Video Audio IFrame
--------------------------------------------------------------*/

#videoAudioUrlCont,
#videoUrlCont {
    z-index: 15;
    display: none;
    width: var(--iframe-width);
    height: var(--iframe-height);
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

#videoAudioUrlHeader,
#videoUrlHeader {
    z-index: 15;
    position: absolute;
    display: flex;
    left: 0px;
    top: 0px;
    width: 100%;
    cursor: move;
    border-radius: 5px;
}

#videoAudioUrlHeader button,
#videoUrlHeader button {
    height: 30px;
    width: 30px;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    color: #fff;
    background: black;
}

#videoAudioUrlHeader button:hover,
#videoUrlHeader button:hover {
    color: var(--hover-color);
    transform: var(--btns-hover-scale);
    transition: all 0.3s ease-in-out;
}

#videoUrlIframe {
    width: var(--iframe-width);
    height: var(--iframe-height);
    border-radius: 5px;
}

#videoAudioUrlElement {
    width: var(--iframe-width);
    height: var(--iframe-height) - 20px;
    border-radius: 5px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#about {
    cursor: default;
    /*text-decoration: none;*/
}

#about a {
    color: #fff;
    text-decoration: none;
}

#about a:hover {
    color: var(--hover-color);
    transition: all 0.3s ease-in-out;
}

#about img {
    cursor: pointer;
    border-radius: 10px;
}

#about button {
    border: none;
    width: 170px;
    height: 40px;
    font-size: 1.2rem;
    background: linear-gradient(100deg, #376df9 0, #ff5fa0 var(--msger-bubble-width), #ffc55a 100%);
    box-shadow: 0 0 6px 0 rgb(251 255 0 / 82%);
    color: #ffffff;
    transition: background 0.23s;
    cursor: pointer;
}

#about button:hover {
    font-weight: bold;
}

/*--------------------------------------------------------------
# Speech bar
--------------------------------------------------------------*/

.speechbar {
    z-index: 9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2px;
    width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.bar {
    width: 6px;
    border-radius: 6px;
    background: rgba(#19bb5c, 0.65);
    transition-property: height background-color;
    transition-duration: 0.25s;
    /*box-shadow: var(--box-shadow);*/
}

.speaking {
    box-shadow: 0 0 1px 1px rgb(255 255 255 / 32%); /* lightblue */
}

/*--------------------------------------------------------------
# speech recognition languages
--------------------------------------------------------------*/

#recognitionDialect,
#recognitionLanguage {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-size: small;
    max-width: 135px;
    border-radius: 5px;
}

/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/

#webRTCSeo {
    /* just for SEO */
    display: none;
}

#videoAudioCloseBtn,
#videoUrlCloseBtn {
    border: none;
    border-radius: 10px;
}

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/

select {
    height: 40px;
    line-height: 40px;
    box-shadow: none;
}

hr {
    border: 0;
    display: block;
    height: 1px;
    background: #dbdbdb;
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.fadein {
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.clw {
    color: #ffffff;
}

.mic-input-range {
    width: 85px;
    cursor: pointer;
}

/*--------------------------------------------------------------
# Toggle button 
# https://danklammer.com/articles/simple-css-toggle-switch/
--------------------------------------------------------------*/

.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 55px;
    height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: var(--border);
    cursor: pointer;
    background-color: #000000;
    transition: background-color ease 0.3s;
}

.toggle:before {
    content: 'on off';
    display: block;
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 18px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/20px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -25px;
    word-spacing: 35px;
    color: #fff;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
    background-color: green;
}

.toggle:checked:before {
    left: 32px;
}

/*--------------------------------------------------------------
# DropDown menu
--------------------------------------------------------------*/

/* Styles for the dropdown button */
.dropdown-toggle {
    background-color: #181719; /* Change this to your desired button background color */
    color: #fff; /* Change this to your desired text color */
    border: none;
    border-radius: 5px;
    /* padding: 10px 20px; */
    cursor: pointer;
}

/* Styles for the dropdown menu container */
.dropdown-menu {
    display: none;
    background-color: #181719; /* Change this to your desired menu background color */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    margin-bottom: 20px;
}

/* Styles for table cell with title (td) */
.microphone-table-width {
    width: 50%;
}

/* Styles for the Apply Options button */
#applyAudioOptionsBtn {
    margin: 5px;
    width: 100%;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

#applyAudioOptionsBtn:hover {
    background-color: var(--select-bg) !important;
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}

/*--------------------------------------------------------------
# Webkit-Scrollbar Styles
--------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #181719;
    border-radius: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #181719;
}

::-webkit-scrollbar-track {
    background: #1a1b1f;
}

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/

.ml-10 {
    margin: 10px;
}

.cp {
    cursor: pointer;
}

.trow {
    display: table-row;
}

#initVideo {
    object-fit: contain;
}

#audioMediaContainer,
#pauseRecBtn,
#resumeRecBtn {
    display: none;
}

/*
z-index
6 theme custom picker
7 video avatar img
8 video nav bar 
8 peer name
9 speech bar
10 left buttons
11 whiteboard
12 chat emoji
13 chat peers private msg
14 chat room
14 caption
15 video iframe
16 settings
17 send File Div
18 room Emoji reaction
*/
